.table-row-cell {
    -fx-cell-size: 30px;
}
.label{
    -fx-font-family: "Tahoma";
    -fx-font-size: 15px;
}
.button{
    -fx-background-radius: 100;
    -fx-font-family: "Comic Sans MS";
}
.text-field{
    -fx-background-radius: 100;
    -fx-background-size: 17;
}
.table-row-cell {
    -fx-cell-size: 30px;
}
.table-view{
    -fx-font-family: "Comic Sans MS";
}
.button.botaoGerente{
    -fx-font-size: 22;
}
.button.botaoGarcom{
    -fx-font-size: 22;
}
.button.botaoCozinheiro{
    -fx-font-size: 22;
}
.button.botaoMesa{
    -fx-font-size: 22;
}
.button.botaoLogar{
    -fx-font-size: 20;
}
.button.botaoVoltar{
    -fx-font-size: 20;
}

