.table-row-cell {
    -fx-cell-size: 30px;
}
.label{
    -fx-font-family: "Tahoma";
    -fx-font-size: 15px;
}
.label.nome{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.label.preco{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
.label.descricao{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15;
    -fx-text-fill: #000000;
}
.label.titulo{
    -fx-font-family: "System";
    -fx-font-size: 22;
}
.button{
    -fx-background-radius: 100;
}
.text-field{
    -fx-background-radius: 100;
    -fx-background-size: 17;
}
.table-row-cell {
    -fx-cell-size: 30px;
}
.table-view{
    -fx-font-family: "Comic Sans MS";
}
.button.botaoGerente{
    -fx-font-size: 22;
    -fx-font-family: "Comic Sans MS";
}
.button.botaoGarcom{
    -fx-font-size: 22;
    -fx-font-family: "Comic Sans MS";
}
.button.botaoCozinheiro{
    -fx-font-size: 22;
    -fx-font-family: "Comic Sans MS";
}
.button.botaoMesa{
    -fx-font-size: 22;
    -fx-font-family: "Comic Sans MS";
}
.button.botaoLogar{
    -fx-font-size: 20;
    -fx-font-family: "System";
}
.button.botaoVoltar{
    -fx-font-size: 20;
    -fx-font-family: "System";
}
.button.sair{
    -fx-font-family: "System";
    -fx-font-size: 15;
    -fx-background-radius: 0;
}
.pane{
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
}
.gridPane{
    -fx-background-color: #ffffff;
}
.accordion{
    -fx-background-color: #5353c6;
    -fx-background-radius: 12;
}
.titled-pane{

}
.titled-pane:expanded > .title {
    -fx-base: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 100;
}
.titled-pane > .title  {
    -fx-base: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 100;
}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: #5353c6;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}
.list-view{
    -fx-background-color: #dbe1e7;
    -fx-padding: 3px;
}
.list-cell{
    -fx-background-color: transparent, -fx-background ;
    -fx-padding: 2px;
    -fx-background-insets: 0px, 2px ;
}
.list-cell:empty {
    visibility:hidden;
}
.list-cell:selected > .gridPane > .label.nome{
    -fx-font-size: 23;
}
.list-cell:selected > .gridPane > .label.preco{
    -fx-font-size: 22;
}
.list-cell:selected > .gridPane > .label.descricao{
     -fx-font-size: 20;
}
.list-cell:selected{
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-background-insets: 0px, 2px ;
}