.panePrincipal{
    -fx-background-color: transparent;
}
.avaliacaoPane{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 50;
}
.button{
    -fx-background-radius: 100;
}
.rating > .container > .button{
    -fx-pref-width: 45 ;
    -fx-pref-height: 45 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-insets: 10 10;
}
.rating > .container > .button:disabled{
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}